body
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.info_part{
    font-size: 20px;
    font-weight: 500;
}

.info_part.activePart 
{
     display: none;
}

.info_part.deactivePart {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}

.info_part .info_title{
    align-items: center;
    padding: 0 40%;
    font-size: 35px;
}

.info_part .info_text{
    padding: 10px 30%;
    margin: 15px 0;
    /* justify-content: space-around; */
}

.start_btn, .quiz_box, .result_box{
    position: absolute;
    top: 35%;
    left: 45%;
}

.quiz_box{
    width: 500px;
    /* height: 500px; */
    /* display: none; */
    opacity: 0;
     pointer-events: none;
}

 
.quiz_box.activeQuiz{
     z-index: 5;
     opacity: 1;
     pointer-events: auto;
}

.result_box.activeResult{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}

.info_part.activeInfo 
{
     /* z-index: 5;
     opacity: 1;
     pointer-events: auto; */
     display: none;
}

.quiz_box section{
    padding: 25px 25px 25px 0px;
}

.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list{
    padding: 20px 0;
}

section .option_list .option{
    background: rgb(180, 193, 197);
    border: 1px solid rgb(167, 167, 192);
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

section .option_list .option:hover{
    color: lightblue;
    background: rgb(145, 145, 148);
}

.option_list .option:last-child{
    margin-bottom: 0px;
}

.option_list .option.correct{
    color: lightseagreen;
    background: rgb(167, 207, 189);
}

.option_list .option.incorrect{
    color: lightcoral;
    background: rgb(221, 193, 185);
}

.option_list .option.disable{
    pointer-events: none;
}

footer .next_btn{
    display: none;
    height: 30px;
    padding: 0px 10px;
    font-size: 15px;
    border: none;
    background: rgb(145, 145, 148);
    border: 1px solid rgb(107, 107, 109);
    border-radius: 5px;
    cursor: pointer;
 }

 footer .next_btn:hover{
     background: lightblue ;
 }

 .result_box{
     opacity: 0;
     pointer-events: none;
 }

 .text-info {
    color:darksalmon;
    text-align: center;
}
.bg-info {
    background: lightsalmon;
}

.table-info {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid;
}

.button-info{
    padding: 5px;
    margin: 15px;
    padding: 10px;
}
